<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/path/to/dist/js/bootstrapValidator.js"></script>
    <link rel="stylesheet" href="/path/to/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/path/to/dist/css/bootstrapValidator.min.css"/>
    <script type="text/javascript" src="/path/to/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/path/to/bootstrap/js/bootstrap.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <link href="path/to/select2.min.css" rel="stylesheet" />
    <script src="path/to/select2.min.js"></script>

<title>{% block title %}{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
<div class="container">
    {% if user.is_authenticated %}
   <p class="navbar-text navbar-left"> {{user.username}}</p>
    {% else%}
    <a href='../'><p class="navbar-text navbar-right">Registration</p></a>
    {% endif %}
     <a href='../../logout'>{% if  user.is_authenticated %}
                        <p class="navbar-text navbar-right">Exit</p>
                        {% endif %}</a>
     <a href="../login/"> {% if not user.is_authenticated %}
                        <p class="navbar-text navbar-right">LogIn|</p>
                        {% endif %}
     </a>

    

    <a href="../../personal_cabinet/1/"> {% if user.is_authenticated %}
                        <p class="navbar-text ">Personal cabinet</p>
                        {% endif %}
    </a> 
    <a href="../../tourney/"><p class="navbar-text ">{% if user.is_authenticated %}
                        Tourney
                        {% endif %}</p>
    </a>

    <a href="../../user/"><p class="navbar-text ">{% if user.is_authenticated %}
                        Team
                        {% endif %}</p>
    </a>
    <a href="../../tournament_grid/"><p class="navbar-text ">{% if user.is_authenticated %}
                        Tournament grid
                        {% endif %}</p>
    </a>
    <a href="../../tournament_table/"><p class="navbar-text ">{% if user.is_authenticated %}
                        Tournament table
                        {% endif %}</p>
    </a>



    </div>
</nav>


<div class="alert alert-info">
    <h1><center>Welcome {{user.username}}</center></h1>

</div>
    {% block content %}

    {% endblock %}
{% block footer %}
    <div class="col-md-6 col-md-offset-3">
    <p ><center>Thanks for visiting my site.</center></p>
    </div>
{% endblock %}

</body>
</html>