{% extends 'foosball/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}
<form >
<!--<button type="submit" class="btn btn-primary btn-lg active" value="Send"> generation</button>-->
<div class="panel-heading alert alert-info">List of team who play in Finale:</div>
        <div class="panel-body">
        <form action='' method='post'>{% csrf_token %}

        {% for r in finale%}
            <li class="list-group-item">
            {{r}}
        {% endfor %}
            <br>
            </li>
        </form>



</div>

<div class="panel-heading alert alert-info">Win:</div>
        <div class="panel-body">
        <form action='' method='post'>{% csrf_token %}

        {% for r in win%}
            <li class="list-group-item">
            {{r.name}}
        {% endfor %}
            <br>
            </li>
        </form>
</div>


{% endblock %}