{% extends 'foosball/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}
<form >
<!--<button type="submit" class="btn btn-primary btn-lg active" value="Send"> generation</button>-->
    {{form.as_p}}
</form>


{% endblock %}