{% extends 'foosball/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}
<form method='post' action='' role="form" enctype="multipart/form-data">{% csrf_token %}
<div class="col-md-6 col-md-offset-3">
    <center><img id="avatar" width="150px" height="150px"  src="{{user.profile.avatar.url}}"  class="media-object"></center>




<div class="form-group col-md-6 col-md-offset-3">
    <label for="first_name"> First name:</label>
    <textarea class="form-control" id="id_text" name="first_name" rows=1 width="50px" >{{user.first_name }}</textarea>
</div>
<div class="form-group col-md-6 col-md-offset-3">
    <label for="last_name"> Last name:</label>
    <textarea class="form-control" id="id_text" name="last_name" rows=1 width="50px" >{{user.last_name}}</textarea>
</div>
<div class="form-group col-md-6 col-md-offset-3">
    <label for="exampleInputEmail1"> Email:</label>
    <textarea class="form-control" id="id_text" name="email" rows=1 width="50px" >{{user.email}}</textarea>
</div>

<div class="form-group col-md-6 col-md-offset-3">
    <label>Photo:</label>
    <input type="file" enctype="multipart/form-data" name="photo" >{{user.profile.avatar}}</input>
</div>
<div class="form-group col-md-6 col-md-offset-3">
<input type="submit" value="Update" />
<br></div>





</div>
</form>


{% endblock %}