{% extends 'foosball/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}
<form >
<!--<button type="submit" class="btn btn-primary btn-lg active" value="Send"> generation</button>-->
<div class="panel-heading alert alert-info">List of team who play in PLAY OFF 1/4:</div>
        <div class="panel-body">
        <form action='' method='post'>{% csrf_token %}

        {% for r in play_off_1_4 %}
            <li class="list-group-item">
            {{r}}
        {% endfor %}
            <br>
            </li>
        </form>
</div>
<div class="alert alert-info col-md-6 col-md-offset-3 text-center"><a href='../round_play_off_1_2'>Play off: 1/2</a><br></div>
</form>


{% endblock %}