{% extends 'foosball/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
   <form role="form" action='' method='post' data-toggle="validator">{% csrf_token %}

      <div class="form-group ">
         <label for="id_username">Username:</label>
         <input class="form-control" id="id_username" maxlength="30" name="username" type="text" /><br />
         <span class="helptext">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
      <div class="help-block with-errors"></div></div>


      <div class="form-group">
         <label for="id_password1">Password:</label>
         <input class="form-control" id="id_password1" name="password1" type="password" />
      <div class="help-block with-errors"></div></div>

      <div class="form-group">
         <label for="id_password2">Password confirmation:</label>
         <input class="form-control" id="id_password2" name="password2" type="password" />
         <br /><span class="helptext">Enter the same password as above, for verification.</span>
      <div class="help-block with-errors"></div></div>



    <button type="submit" class="btn btn-primary btn-lg active" value="Send"> Send</button>
<br><br><br>
      <a href="{% url 'social:begin' 'vk-oauth2' %}">
      <img src="http://s1.iconbird.com/ico/2013/6/270/w128h341371236209PolnylogotipVKontakte128.png"/></a>

      <a href="{% url 'social:begin' 'facebook' %}">
      <img src="http://developers.facebook.com/images/devsite/login-button.png"/></a>




    </form>


</div>

{% endblock %}