{% extends 'foosball/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">

<div class="panel-heading alert alert-info">List of team:</div>
        <div class="panel-body">
        <form action='' method='post'>{% csrf_token %}

        {% for r in round_list %}
            <li class="list-group-item">
            {{r}}
        {% endfor %}
            <br>
            </li>
        </form>
</div>

<div class="panel-heading alert alert-info">List of tourney:<br> Regular championship:</div>
        <div class="panel-body">
        <form action='' method='post'>{% csrf_token %}

        {% for r in regular %}
            <li class="list-group-item">
            {{r}}
             {% endfor %}
            <br>
            </li>
        </form>
</div>
<div class="alert alert-info col-md-6 col-md-offset-3 text-center"><a href='../round_play_off_1_8'>Play off: 1/8</a><br></div>

</div>
{% endblock %}