{% extends 'foosball/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}
<form >
    <div class="col-md-6 col-md-offset-3">
        <div class="panel-heading alert alert-info">List of users:</div>
        <div class="panel-body">
        <div action='' method='post'>{% csrf_token %}
        {% for i in team %}
            <li class="list-group-item">
            {{i}}<br>
            </li>
        {% endfor %}
        </div>
        </div>

<!--<button type="submit" class="btn btn-primary btn-lg active" value="Send"> Generation</button>-->
        <div class="panel-heading alert alert-info">List of team:</div>
        <div class="panel-body">
        <div action='' method='post'>{% csrf_token %}

        {% for i in team_list %}
            <li class="list-group-item">
            {{i.name}}<br>
            </li>
        {% endfor %}
        </div>
        </div>
<a href="../../tourney"><h3>Go to the tournament</h3></a>
    </div>
</form>


{% endblock %}