{% extends 'foosball/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}

<form action=''>{% csrf_token %}

    <div class="col-md-6 col-md-offset-3">
        <div class="panel-heading alert alert-info">List of team:</div>
        <div class="panel-body">
        <div action='' method='post'>{% csrf_token %}

        {% for i in tourney %}
            <li class="list-group-item">
            {{i.name}}<br>
            </li>
        {% endfor %}
            <div class="alert alert-info col-md-6 col-md-offset-3 text-center"><a href='../round'>Regular championship<br></div>
            <div class="alert alert-info col-md-6 col-md-offset-3 text-center"><a href='../round_play_off_1_8'>Play off</a><br></div>
            
        </div>
        </div>


{% endblock %}