{% extends 'foosball/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}

<style type = "text/css">
            body {
                font-family: Arial;
            }

            table.match {
                border-collapse: collapse;
                position: absolute;
            }

            td.n, td.name, td.s, td.nz, td.place {
                font-size: 10pt;
            }

            td.n {
                font-weight: 700;
            }

            td.name {
                border: 1px solid black;
                width: 110px;
                padding-left: 5px;
            }

            td.s {
                border: 1px solid black;
                width: 24px;
                text-align: center;
                vertical-align: center;
            }
<!--влево сдвигается-->
            td.nz {
                font-style: italic;
                width: 40px;
            }

            td.line {
                border-bottom: 1px solid black;
                width: 15px;
            }

            td.place {
                font-style: italic;
                text-align: center;
                font-weight: 700;
            }

            .vr_f { /* Вертикальная линия */
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                position: absolute;
                border-right: none;
                width: 40px;
                color: black;
                background-color: black;
            }

            .vr_1_2 { /* Вертикальная линия */
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                position: absolute;
                border-right: none;
                width: 80px;
                color: black;
                background-color: black;
            }

            .vr_1_2_f { /* Вертикальная линия */
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                position: absolute;
                border-right: none;
                width: 30px;
                color: black;
                background-color: black;
            }
            .vr_1_4 { /* Вертикальная линия */
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                position: absolute;
                border-right: none;
                width: 160px;
                color: black;
                background-color: black;
            }

            .vr_1_8 { /* Вертикальная линия */
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                position: absolute;
                border-right: none;
                width: 320px;
                color: black;
                background-color: black;
            }

        </style>
<div>
<g id="table">
        <table class = "match" id = "m3" style = "top: 250px; left: 56px;">

            <tr><td></td><td class = "line"></td><td class = "n">1/8</td><td></td><td></td></tr>
            {% for r in play_off_1_8 %}
            <td class = "name">{{r}}</td><td></td></tr>
            {% endfor %}

        </table>
        <table class = "match" id = "m3" style = "top: 581px; left: 172px;">
                <td class = "line"></td>
            </table>
            <hr class = "vr_1_8" noshade size = "1" style = "left: 26px; top: 405px;" />
            <table class = "match" id = "m3" style = "top: 426px; left: 186px;">
                <td class = "line"></td><td class = "line"></td><td class = "line"></td>
            </table>
        </table>


        <table class = "match" id = "m3" style = "top: 330px; left: 232px;">

            <tr><td></td><td class = "line"></td><td class = "n">1/4</td><td></td><td></td></tr>
            {% for r in play_off_1_4 %}
            <td class = "name">{{r}}</td><td></td></tr>
            {% endfor %}
            <table class = "match" id = "m3" style = "top: 504px; left: 348px;">
                <td class = "line"></td>
            </table>
            <hr class = "vr_1_4" noshade size = "1" style = "left: 282px; top: 405px;" />
            <table class = "match" id = "m3" style = "top: 427px; left: 363px;">
                <td class = "line"></td><td class = "line"></td><td class = "line"></td>
            </table>
        </table>

        <table class = "match" id = "m3" style = "top: 370px; left: 405px;">

            <tr><td></td><td class = "line"></td><td class = "n">1/2</td><td></td><td></td></tr>
            {% for r in play_off_1_2 %}
            <td class = "name">{{r}}<td class = "line"></td></td><td></td></tr>
            {% endfor %}
            <hr class = "vr_1_2" noshade size = "1" style = "left: 495px; top: 408px;" />
        </table>

            <table class = "match" id = "m3" style = "top: 408px; left: 535px;">
                <td class = "line"></td><td class = "line"></td>
            </table>
                <hr class = "vr_1_2_f" noshade size = "-1" style = "left: 550px; top:402px;" />
            <table class = "match" id = "m3" style = "top: 437px; left: 565px;">
                <td class = "line"></td>
            </table>

            <table class = "match" id = "m3" style = "top: 448px; left: 535px;">
                <td class = "line"></td>
            </table>
                <hr class = "vr_1_2_f" noshade size = "-1" style = "left: 535px; top:414px;" />
            <table class = "match" id = "m3" style = "top: 420px; left: 550px;">
                <td class = "line"></td><td class = "line"></td>
            </table>

        <table class = "match" id = "m3" style = "top: 390px; left: 581px;">

            <tr><td></td><td class = "line"></td><td class = "n">Finale</td><td></td><td></td></tr>
            {% for r in finale %}
            <td class = "name">{{r}}</td><td class = "line"></td><td></td></tr>
            {% endfor %}
            <hr class = "vr_f" noshade size = "1" style = "left: 685px; top: 408px;" />

        </table>

    <table class = "match" id = "m3" style = "top: 430px; left: 706px;">
        <td class = "line"></td><td class = "line"></td><td class = "line"></td>
    </table>

        <table class = "match" id = "m3" style = "top: 400px; left: 752px;">

            <tr><td></td><td class = "n">Win</td><td></td><td></td></tr>
            {% for r in win %}
            <td class = "name">{{r.name}}</td></td></tr>
            {% endfor %}

        </table>

<table class = "match" id = "m3" style = "top: 300px; left: 1200px;">

            <tr><td></td><td class = "n">Team statistics</td><td></td><td></td></tr>
            <td class = "id">id</td><td class = "name">name</td><td class = "name">mark</td></td></tr>
            {% for r in tourney %}
            <td class = "id">{{r.pk}}</td><td class = "name">{{r.name}}</td><td class = "name">{{r.mark}}</td></td></tr>
            {% endfor %}

</table>

</g>

<a href=../../tournament_grid1>tournament table</a>
</div>
{% endblock %}