{% extends 'foosball/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}

<div>

    <table class="table" style = "top: 300px; left: 1200px;">

            <tr class="info"><td class = "id">Место</td><td class = "id">Команда</td><td class = "name">Участники</td><td class = "name">Игр</td><td class = "name">Побед</td><td class = "name">Поражений</td><td class = "name">Забитые</td><td class = "name">Пропущенные</td><td class = "name">Очки</td></td></tr>
            {% for r in team_table %}
           <tr><td class = "id">{{r.place}}</td>
               <td class = "id">{{r.name}}</td><td class = "name">
                                                                {%for i in r.team_user.all%}
                                                                    {{i}}<br>
                                                                {%endfor%}
            </td><td class = "name">{{r.games}}</td>
            <td class = "name">{{r.win}}</td>
            <td class = "name">{{r.defeat}}</td>
            <td class = "name">{{r.scored}}</td>
            <td class = "name">{{r.missed}}</td>
            <td class = "name">{{r.mark}}</td></td></tr>
            {% endfor %}

    </table>



{% endblock %}