{% extends 'foosball/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}

<form action=''>{% csrf_token %}

    <div class="col-md-6 col-md-offset-3">
        <div class="panel-heading alert alert-info">List of users:</div>
        <div class="panel-body">
        <div action='' method='post'>{% csrf_token %}

        {% for i in user %}
            <li class="list-group-item">
            {{i}}<br>
            </li>
        {% endfor %}
<a href="../../team/"> Generation Team</a>
        </div>
        </div>

</form>





{% endblock %}